<div class="container mt-5">
  <div class="card product">
    <div class="card-body">
      <h2 class="card-title"><%= @product.name %></h2>
      <p class="card-text">Price: <%= number_to_currency(@product.price) %></p>
      <p class="card-text">Description: <%= @product.description %></p>
      <%= link_to 'Back to Products', products_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
